body
  margin: 0

.page-flexbox-wrapper
  display: flex
  min-height: 100vh
  flex-direction: column

main
  flex: 1 1 auto
  padding: 12px

  .card
    border-radius: 20px

  #content
    h2
      text-align: center
      font-size: 24px
  
  #container
    padding: 30px 60px

  ul.ingredients
    list-style: none
    display: flex
    flex-direction: column
    height: calc(750px - 100vw/2)
    min-height: 225px
    flex-wrap: wrap
    align-content: center

    li
      padding: 3px 6px
      max-width: 140px
      word-break: break-word

      input[type="checkbox"]+label
        font-size: 17px


footer
  display: flex
  padding: 20px
  align-items: center
  text-align: center
  color: white

  p
    font-size: 14px
    padding: 0 50px

  a
    color: white
    min-width: 200px
    font-size: 17px
    padding: 0 10px

    &:hover
      text-decoration: underline

    &:visited
      color: white